/* ==============================
Header and Main Navigation
================================= */
* {
  box-sizing: border-box;
}
header {
  background-color: #202020;
  padding: 10px 0;
  position: fixed;
  width: 100%;
}
.logo {
  max-width: 150px;
  padding-top: 10px;
}
main {
  padding-top: 86px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav > ul > li > a.icon {
  margin-top: 6px;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle,
.navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}
.navtoggle.responsive li {
  display: block;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}
.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}
/* ==============================
Hero Section
================================= */
#hero {
  background-color: #6877dc;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
#hero span {
  display: block;
}
#hero-text {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
#hero-p {
  display: none;
}
/* ==============================
General Styles
================================= */
body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: #202020;
}
h1,
h2,
h3,
h4 {
  line-height: 1.4;
}
h1 {
  font-size: 1.75em;
  font-weight: 600;
}
h2 {
  font-size: 1.50em;
  font-weight: 575;
}
h3 {
  font-size: 1.25em;
  font-weight: 500;
}
#portfoliosite h3, #project-icons h3 {
  color: #6877dc;
  margin-top: 16px;
}
#project-icons h3 {
  text-align: center;
}
img {
  width: 100%;
}
.col-md-3 {
  display: flex;
  justify-content: center;
}
#pr-image {
  width: 100%;
  height: auto;
}
#casa-p {
  display: none;
}
#modernfinds-p {
  display: none;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
}
a:active {
  color: #ffffff;
}
a:visited {
  color: #ffffff;
}
.button {
  display: inline-block;
  background-color: #202020;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 3px;
  transition: 0.5s opacity;
}
.button:hover {
  color: #ffffff;
  opacity: 0.8;
  text-decoration: none;
}
.button:active {
  color: #ffffff;
  opacity: 0.8;
  text-decoration: none;
}
.button:visited {
  color: #ffffff;
  opacity: 0.8;
  text-decoration: none;
}
.button.resume {
  margin-top: 10px;
  margin-bottom: 15px;
}
.button.contact {
  background-color: transparent;
  color: #ffffff;
  padding: 8px 20px;
  text-align: center;
  border: 2px solid #ffffff;
  transition: 0.5s opacity;
}
.button.contact:hover {
  background-color: #ffffff;
  color: #202020;
  font-weight: 500;
  opacity: 0.8;
}
.container {
  padding: 0 15px;
}
#about-me {
  background-color: #6877dc;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  display: inline-block;
  width: 100%;
}
#project-icons img {
  height: auto;
  width: auto;
}
.row {
  margin: 25px 0;
}
#work .row {
  padding-bottom: 25px;
}
.footer {
  background-color: #202020;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
.social > ul {
  list-style-type: none;
  padding: 5px;
  width: 100%;
}
.social > ul > li {
  display: inline-block;
}
#linkedin {
  padding-right: 10px;
}
#behance {
  padding: 0 10px;
}
#email {
  padding: 0 10px;
}
#modernfinds-case-study,
#casa-case-study  {
  max-width: 1200px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
/* ==============================
Medium devices (641px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  .logo {
    padding-top: 7px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  nav > ul {
    margin: 11px 0;
  }
  nav > ul > li {
    display: inline-block;
  }
  nav > ul > li > a {
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
  main {
    padding-top: 96px;
  }
  h3 {
    margin-top: -8px;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-9 {
    width: 75%;
  }
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  #my-story img {
    width: 50%;
    margin-left: 18px;
    margin-bottom: 18px;
    float: right;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .button {
    width: auto;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  #project-icons h3 {
    text-align: left;
    margin-left: 50px;
    margin-top: 60px;
  }
  #project-icons .row {
    padding: 0 60px;
  }
  #contact {
    max-width: 1200px;
    text-align: left;
  }
}
/* ==============================
Large devices (900px or larger)
================================= */
@media only screen and (min-width: 900px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  #hero-text {
    max-width: unset;
  }
  #hero-p {
    display: inline-block;
  }
  #casa-p {
    display: block;
  }
  #modernfinds-p {
    display: block;
  }
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ==============================
Animations
================================= */
ul.navigation a {
  color: #ffffff;
  padding: 10px 10px;
  position: relative;
}
ul.navigation a:before,
ul.navigation a:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 1px;
  content: "";
  background: #ffffff;
  transition: all 0.3s;
}
ul.navigation a:before {
  left: 0px;
  top: 0px;
}
ul.navigation a:after {
  right: 0px;
  bottom: 0px;
}
ul.navigation a:hover:before,
ul.navigation a:hover:after {
  opacity: 1;
  width: 100%;
}
@keyframes color-change-sky {
  from {
    fill: #dde0fb;
  }
  to {
    fill: #ffbbbb;
  }
}
.sky-back {
  animation: 5s color-change-sky infinite alternate linear;
}
@keyframes color-change-sun {
  from {
    fill: #fff2d7;
  }
  to {
    fill: #ffa844;
  }
}
.sun {
  animation: 5s color-change-sun infinite alternate linear;
}
@keyframes color-change-sea {
  from {
    fill: #89d1f3;
  }
  to {
    fill: #6877dc;
  }
}
.sea {
  animation: 5s color-change-sea infinite alternate linear;
}
@keyframes cloud-move {
  from {
    transform: translate(0, 0px);
  }
  to {
    transform: translate(300px, 0);
  }
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {
    transform: translate(150px, -50px);
  }
  to {
    transform: translate(0, -50px);
  }
}
.cloud-back {
  animation: 30s cloud-move-reverse infinite alternate linear;
}
