* {
  box-sizing: border-box;
}
header {
  background-color: #352aaa;
  text-align: center;
  padding: 10px 0;
  box-shadow: 5px 5px 13px rgba(53, 42, 170, 0.4); 
  -webkit-box-shadow: 5px 5px 13px rgba(53, 42, 170, 0.4); 
  -moz-box-shadow: 5px 5px 13px rgba(53, 42, 170, 0.4); 
  position: fixed;
  width: 100%;
}
.logo {
  max-width: 150px;
}
main {
  padding-top: 133px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
}
nav > ul > li > a:hover {
  text-transform: uppercase;
  font-weight: 500;
  color: #6877dc;
  text-decoration: underline;
}
nav > ul > li > a:active {
  text-transform: uppercase;
  font-weight: 500;
  color: #6877dc;
}
nav > ul > li > a:visited {
  text-transform: uppercase;
  font-weight: 500;
  color: #6877dc;
}
#hero {
  background-color: #6877dc;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
body{
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #202020;
}
h1, h2, h3, h4 {
    line-height: 1.4;
}
h1 {
    font-size: 2.75em;
    font-weight: 600;
 }
 h2 {
    font-size: 2.25em;
    font-weight: 500;
 }
 h3 {
    font-size: 1.50em;
    font-weight: 450;
 }
 img {
    width: 100%;
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
  a:hover {
    color: #ffffff;
    text-decoration: underline; 
  }
  a:active { 
    color: #6877dc;
  }
  a:visited { 
    color: #352aaa;
  }
  /* Layout Styling */
  .container {
    padding: 0 15px;
  }
  .row {
    margin: 25px 0;
  }
  #work .row { 
    padding-bottom: 25px; border-bottom: 1px solid #202020; 
  }
  .button {
    display: inline-block; 
    background-color: #202020;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #202020;
    transition: 0.2s opacity;
  }
  .button:hover {
    color: #ffffff;
    opacity: 0.8;
    text-decoration: none;
  }
  .button:active {
    color: #ffffff;
    opacity: 0.8;
    text-decoration: none;
  }
  .button:visited {
    color: #ffffff;
    opacity: 0.8;
    text-decoration: none;
  }
  .button.contact {
    background-color: transparent;
    color: #202020;
    text-transform: uppercase;
    border: 2px solid #202020;
  }
  .button.contact:hover {
    background-color: #202020;
    color: #ffffff;
  }